.regions-container {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-top: 10px;
}

.button {
    border-width: 0px;
    font-size: 20px;
    background-color: white;
    padding-right: 12px;
    cursor: pointer;
}

.right-border {
    border-right: 1px solid rgb(129, 121, 121);

}

.activeregionclass {
    color: rgb(59, 128, 241);
    border-bottom: 2px solid rgb(59, 128, 241);
    padding-bottom: 10px;
}