* {
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.top-section {
    background-color: rgb(13, 13, 100);
}

.refresh-icon-container {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    align-items: center;
}

.title-container {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
}

.header {
    display: flex;
    flex-direction: column;
    column-gap: 0px;
    position: relative;
    transform: translatey(30px);
    color: white;
    height: 220px;
    row-gap: 10px;
}

.refresh-icon {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    color: white;
    background-color: white;
    fill: white;
    border-color: white;
    font-size: 25px;
}

.open-account-health-card {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 160px;
    padding: 20px;
    row-gap: 20px;
}

.open-account-health-button {
    background-color: #f09844;
    color: black;
    font-size: 16px;
    padding: 8px;
    border-width: 0;
}

.bottom-section {
    background-color: rgb(243, 239, 239);
    padding: 2rem;
}

.recent-issues-container {
    display: flex;
    align-items: center;
    width: 60%;
    margin: 15px auto;
}

.check-symbol {
    color: green;
    font-size: 40px;
    margin-top: 0px;
    margin-right: 15px;
}

.no-issues-title {
    font-weight: 400;
    font-size: 40px;
}

.service-history-card {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 60%;
    margin: auto;
    row-gap: 18px;
    background-color: white;
    color: rgb(98, 100, 101);
}

.search-container {
    display: flex;
    align-items: center;
}

.search-input-container {
    display: flex;
    align-items: center;
    border: 1px solid rgb(119, 113, 113);
    padding-left: 5px;
    margin-right: 20px;
}

.search-input {
    font-size: 16px;
    padding: 6px;
    width: 600px;
    border-width: 0px;
    outline: none;

}

.search-icon {
    font-size: 20px;
}

.date-input {
    font-size: 16px;
    padding: 6px;
    outline: none;
}

.table-container {
    width: 62%;
    margin: auto;
    position: relative;
    /* transform: translateX(58px); */
}