.table-wrapper {
    overflow-x: auto;
    max-width: 100%;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    background-color: white;

}

th,
td {
    padding: 8px;
    text-align: left;
    vertical-align: top;
    border: none;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;



}

th {
    font-weight: 500;
    color: #403d3d;
    font-size: 17px;
}

th.services-column {
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: white;
}

td.service-name {
    font-size: 13px;
    font-weight: lighter;
    display: flex;
    height: 30px;
    justify-content: center;
}

td:first-child {
    font-weight: bold;
}

button {
    background-color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f1f1f1;
}

button:active {
    outline: none;
}

.date-width {
    width: 70px;
}

.service-name {
    width: 100px;
    background-color: white;
    position: absolute;
    /* left: -120px; */
}

.services-column {
    width: 100px;
    background-color: white;
    position: absolute;
    padding-left: 27px;
    /* left: -120px; */
}

.check-icon {
    color: green;
    font-size: 30px;
}

.scroll-buttons {
    display: flex;
    justify-content: flex-end;

}

.wifi-symbol {
    transform: rotate(45deg);
    font-size: 30px;
    display: flex;
    margin: auto;
}

.grid-align-center {
    display: flex;
    margin: auto;
}